<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xima.app.mapper.GroupMessageReadMapper">

    <select id="getLastReadMessageId" resultType="java.lang.Long">
        SELECT last_read_message_id FROM group_message_read 
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </select>

    <insert id="upsertLastRead">
        INSERT INTO group_message_read (group_id, user_id, last_read_message_id)
        VALUES (#{groupId}, #{userId}, #{lastReadMessageId})
        ON DUPLICATE KEY UPDATE last_read_message_id = #{lastReadMessageId}
    </insert>

</mapper>
